body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4c42a8; /* morado */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.container {
    max-width: 500px;
}

.descripcion {
    margin: 20px 0;
    font-size: 16px;
}

.botones {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    background-color: white;
    color: #6a0dad;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.9;
}








